body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#board {
  /* width: ; */
  /* height: 400px; */
  border: 2px solid black;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

#board img {
  width: 80px;
  height: 80px;
  border: 0.5px solid lightblue;
  box-sizing: border-box;
}

#pieces {
  /* width: 1040px;
  height: 160px; */
  border: 2px solid black;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#pieces img {
  width: 80px;
  height: 80px;
  border: 0.5px solid lightblue;
  box-sizing: border-box;
}
